@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="navbar-brand" asp-area="" asp-page="/Cars/Index">Go to cars page</a>
</div>


